<!DOCTYPE html>
<html>
  <head>
  <title>Fare Comparison Home</title>
  <link rel="stylesheet" href="../styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  </head>
  <body>
    <div class="background-image"></div>
    <div class="title">
      <h1>Fare Comparison</h1>
    </div>
    <div class="top">
      <h1>Where are you coming from?</h1>
    </div>
    <div class="bottom">
      <h1>Where are you going?</h1>
    </div>
    <div class = "main" align="center">
      <form method="post">
        <input class="search_box" id="from" type="text" name="toAddress" placeholder="Address 1"> </br>
        <input class="search_box" id="to" type="text" name="fromAddress" placeholder="Address 2"></br>
        <input id="go" type="submit" value="Go!">
      </form>
    </div>
  </body>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrzRVN6GmXC6tmPHtzbau3xa6rGKatWVY&libraries=maps,places"></script>
  <script type="text/javascript" src="../scripts/autocomplete.js"></script>
</html>
