<!DOCTYPE html>
<html>
  <head>
  <title>Fare Comparison Home</title>
  <link rel="stylesheet" href="../styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  </head>
  <body>
    <div class="background-image"></div>
    <div class="allinfo">
    <div class="title">
      <h1>Fare Comparison</h1>
    </div>
    <div class="top">
      <h1>Where are you coming from?</h1>
    </div>
    <div class="bottom">
      <h1>Where are you going?</h1>
    </div>
    <div class = "main" align="center">
      <form id="address_form" method="get" action="/results">
        <input id="from_address" type="text" name="fromAddress" placeholder="Address 1"> </br>
        <input id="to_address" type="text" name="toAddress" placeholder="Address 2"></br>
        <input id="go" type="submit" value="Go!">
      </form>
    </div>
    </div>
  <!-- <div id="map"></div>
  <script>

  </script> -->
  </body>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrzRVN6GmXC6tmPHtzbau3xa6rGKatWVY&libraries=maps,places"></script>
  <script type="text/javascript" src="../scripts/autocomplete.js"></script>
  <script type="text/javascript" src="../scripts/geocoding.js"></script>
</html>
