/* html {
	background: url('../images/background1.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} */
h1 {
  text-align: center;
  color: white;
  font-family: 'Poiret One', cursive;
}

.title{
  width: 100%;
  height: 20%;
  color: white;
  font-size: 28px;
}

.background-image {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('../images/background1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: blur(3px);
}

.TableMaster{
	width:70%;
	margin-left:15%;
	margin-right:15%;
}

.TableMaster table, th, td {
  border: 3px solid white;
}
.TableMaster th {
  color: white;
  font-weight: bold;
}

.Focus {
  color: black !important;
  font-weight: bold !important;
  font-size: 30px !important;
  text-align: center;
  text-shadow: #FFF 0 0 20px;
	font-family: 'Poiret One', cursive;
  background-color: rgba(255, 255, 255, 0.3)
}
.TableMaster td {
  color: white;
}
.Details {
  font-weight: bold !important;
  text-align: center;
  text-shadow: #000 0 0 20px !important;
	font-family: 'Poiret One', cursive;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5)
}
table {
	border: 0px;
}
.TableMaster {
	margin-right: 920px;
}

iframe{
  margin: 0 auto;
  display: block;
  transform: translateY(40px);
}

.uber{
  color: white;
  background-color: black;
  color: white;
  width: 15%;
  height: 15%;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
  transform: translateY(20px);
  margin-left:auto;
  margin-right:auto;
  display: block;
}

.lyft{
  color: white;
  background-color: black;
  color: white;
  width: 15%;
  height: 15%;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
  transform: translateY(50px);
  margin-left:auto;
  margin-right:auto;
  display: block;
}
