h1 {
  text-align: center;
  font-family: 'Poiret One', cursive;
}

.title{
  width: 100%;
  height: 20%;
  color: white;
  font-size: 28px;
}

.background-image {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('../images/background1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.top {
  color: white;
  background-color: black;
  width: 15%;
  height: 15%;
  margin: 0 auto;
  transform: translateY(-40px);

}

#from {
  width: 30%;
  height: 15%;
  margin: 0 auto;
  transform: translateY(-135px);
}

#to {
  width: 30%;
  height: 15%;
  margin: 0 auto;
  transform: translateY(0px);

}

.bottom {
  background-color: black;
  color: white;
  width: 15%;
  height: 15%;
  /* position: absolute; */
  /* line-height: 200px; */
  margin: 0 auto;
  transform: translateY(0px);
}

#go{
  color: white;
  background-color: black;
  color: white;
  width: 15%;
  height: 15%;
  font-size: 20px;
  transform: translateY(20px);
}
